.Releases{
  padding-top: 60px;
  padding-bottom: 160px
}
.Releases h1{
  font-size: 4rem;
  text-align: center;
}
.ReleasesCurrent{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 70px;
  padding-bottom: 60px;
  flex-wrap: wrap;
}
@media (max-width:800px){
  .Releases h1{
    font-size: 3.3rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width:400px){
  .Releases h1{
    font-size: 2rem;
  }
  .Releases img{
    width: 250px;
  }
  .ReleasesCurrent{
    margin-left: auto;
    margin-right: auto;
  }  
}