.DocumentContainer {
  margin-top: 160px;
  max-width: 1400px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  text-align: center;
}
.Document {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 70px;
}
.Document h1 {
  font-size: 3.5rem;
}
.DocumentContainer button{
  padding: 20px 60px;
  background: #5c90ae;
  border:1px solid #f2f2f2;
  border-radius: 2px;
  font-size: 18px;
  font-family: 'Roboto';
}
@media (max-width:800px){
  .DocumentContainer{
    background: none;
  }
  .Document{
    flex-direction: column;
  }
}